/*
File:			related-links-menu.css
Description:	Custom styles for Redirect Mapper Plugin
Version:  1.0

*/


/*@ verification screen */


div#redirmap-nav-url{
	text-align: right;
}

div#redirmap-search-post{
	font-weight: 900;
}

div#redirmap-search-post input.search-input{
	width: 500px;
}

div#redirmap-search-post img#ajax_busy{
	display: none;
}

div#redirmap-verify-post{
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #3C5FAC;
	font-weight: 900;
}

div#redirmap-search-results {
	float: left;
	border: 1px solid #CCCCCC;
}
div#redirmap-search-results ul{
	margin-left: 15px;
	margin-right: 20px;
	width: 250px;
	list-style: disc;
}

div#redirmap-original-post {
	float: left;
	margin-left: 10px;
	border: 1px solid #CCCCCC;
}

div#redirmap-original-post object#redirmap-original-post-page {
	width: 750px;
	height: 400px;
}

div#redirmap-matching-urls {
	clear: both;
}

div#redirmap-new-post  {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid #CCCCCC;
	color: #3C5FAC;
	font-weight: 900;
}

div#redirmap-new-post object#redirmap-search-url-page {
	width: 950px;
	height: 400px;
}

/* @end */

/*@ modal redirect mapping screen */

#redirmap-map-url-redirect {
	display:none;
}

/* Overlay */
#redirmap-overlay {
	background-color:#ddd; 
	cursor:wait;
}

#redirmap-container {
	height:400px; 
	width:720px; 
	text-align:left; 
	background:#fff; 
	border:2px solid #CCCCCC;
	padding-left: 20px;
}

#redirmap-container a.modalCloseImg {
	background:url(images/x.png) no-repeat; 
	width:25px; 
	height:29px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:-15px; 
	right:-16px; 
	cursor:pointer;
}

div#redirmap-container h3{
	color: #3C5FAC;
	font-weight: 900;
}

div#redirmap-container .redirmap-form-field{
	background-color: #FFFFFF;
}

div#redirmap-container img#redirmap_busy{
	display: none;
}

div#redirmap-container table{
	width: 680px;
}

div#redirmap-container th{
	text-align: left;
	width: 160px;
}

div#redirmap-container td{
	border-bottom:8px solid #FFFFFF;
}

/* @end */



/*@ messages */

div#redirmap-container div#error_message{
	color: red;
	display: none;
}

div#redirmap-container div#info_message{
	color: #7E7E7E;
	margin-left:160px;
	padding-left:10px;
	display: none;
}

div#redirmap-container div#info_message a{
	font-weight: 900;
}

/* @end */




